{% if logs.paginator %}
<ul class="pagination">
    <!-- İlk ve Önceki Butonları -->
    {% if logs.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ logs.previous_page_number }}">Previous</a></li>
    {% endif %}

    <!-- Sayfa Numaraları -->
    <!-- {% for i in logs.paginator.page_range %}
        {% if i >= logs.number|add:'-5' and i <= logs.number|add:'5' %}
            <li class="page-item {% if i == logs.number %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %} -->

    <!-- Sonraki ve Son Butonları -->
    {% if logs.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ logs.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ logs.paginator.num_pages }}">Last</a></li>
    {% endif %}
</ul>
{% endif %}