body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #19202e;
    color: white;
    padding: 50px 10% 0px 10%;
    height: 100vh;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accountUrls a {
    margin-right:5px;
}

a {
    color: white !important;
    text-decoration: none;
    font-size:20px;
}

a:hover {
    color: #f1f1f1 !important;
    text-decoration: underline;
}