body {
    margin: 0px;
    box-sizing: border-box;
    background-color: #19202e;
    color: white;
    padding: 50px 10% 0px 10%;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeLogo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-right:5px;
}

.accountUrls a {
    margin-right:15px;
}

a {
    color: white !important;
    text-decoration: none;
    font-size:20px;
}

a:hover {
    color: #f1f1f1 !important;
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.customBtn {
    background-color: #6ab26b;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    body {
        padding: 10px 20px;
    }
}