{%extends 'base.html'%}
{%load static%}

{%block pagecss%} <link rel="stylesheet" href="{%static 'tradehub/css/assetListing.css'%}"> {%endblock%}

{%block content%}
<div class="container">
    <h1 class="text-center">
        {{title}} Assets
    </h1>
    <div id="addNewAsset"><a href="/{{category.slug}}/add-new-asset/">Add New {{title}} Asset</a></div>
    <div class="assetsDashboard">
        <div class="assets">
            {% for asset in assets%}
                <div class="asset"><a href="{{asset.get_absolute_url}}"><img src="{{asset.asset_image.url}}" alt="{{asset.name}}" class="assetIMG" width="35px"> {{asset.name}} {{asset.ort_usd}}</a></div>
            {%endfor%}
        </div>    
    </div>
</div>
{%endblock%}

