{%extends 'base.html'%}
{%load static%}
{% load custom_filters %}

{%block pagecss%} <link rel="stylesheet" href="{%static 'tradehub/css/asset.css'%}"> {%endblock%}

{%block content%}
<div class="container">
    <h1 class="text-center">
        {{asset.name.upper}}
    </h1>
    <div id="newAssetLog"><a href="/asset/add-new-transcation/{{asset.slug}}/">Add New {{asset.name.upper}} Transaction</a></div>
    <div class="assetStats">
        <span class="assetStat"><b>Asset Amounth:</b> {{asset.amount|format_decimal}}</span>
        <span class="assetStat"> <b>Asset Total Cost ($):</b> {{asset.cost|format_decimal|format_cost}}</span>
        <span class="assetStat"> <b>Asset Average Cost (per) ($):</b> {{asset.ort_usd|format_decimal}}</span>
    </div>
    <div class="assetsDashboard">
        <div class="assets">
            <table class="assetTranscationTable">
                <thead>
                    <tr class="tableHeading">
                        <th>Transaction Time</th>
                        <th>{{asset.name.upper}} Amounth</th>
                        <th>Total Cost ($)</th>
                        <th>Average Cost ($)</th>
                    </tr>
                </thead>
                <tbody>
                    {{logs}}
                    {%for log in logs %}
                    <tr class="tableBody">
                        {%if category == 'Crypto'%}
                            <td>{{log.transcation_time}}</td>
                            <td>{{log.total_amount|format_decimal}}</td>
                            <td>{{log.total_cost|format_decimal|format_cost}}</td>
                            <td>{{log.ort_usd|floatformat:4|format_decimal}}</td>
                        {%elif category == 'Stocks' %}
                            <td>{{log.transcation_time}}</td>
                            <td>{{log.total_amount|format_decimal}}</td>
                            <td>{{log.total_cost|format_decimal|format_cost}}</td>
                            <td>{{log.ort_usd|floatformat:4|format_decimal}}</td>
                        {%endif%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>    
    </div>
</div>
{%endblock%}