{%extends 'base.html'%}
{%load static%}

{%block pagecss%} <link rel="stylesheet" href="{%static 'tradehub/css/listing.css'%}"> {%endblock%}
{%block metatitle%}Homepage{%endblock%}

{%block content%}
<div class="container">
    <h1 class="text-center">Welcome to the TradeHub</h1>
    <div class="assetsDashboard">
        <div class="assets">
            <div class="asset"><a href="/assets/crypto/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/1200px-Bitcoin.svg.png" alt="" class="assetIMG" width="35px"> Crypto</a></div>
            <div class="asset"><a href="/assets/stocks/"><iconify-icon icon="emojione-v1:stock-chart" class="assetIcon"></iconify-icon>Stocks</a></div>
            <div class="asset"><a href="/assets/estate/"><iconify-icon icon="material-symbols:real-estate-agent" class="assetIcon"></iconify-icon>Estate</a></div>
        </div>    
    </div>
</div>
{%endblock%}