{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block pagecss%}{%endblock%}
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <title>{%block metatitle%} {%endblock%} - Finance App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        {%include 'components/navbar.html'%}
    </header>

    <main class="mt-5">
        {%block content%}
        {%endblock%}
    </main>
    

    <script>
            {%if request.user.is_authenticated%}
                const navbar_user = document.getElementById('navbar_profile');
                const navbarProfileDropdown = document.querySelector('.profileSection .profileDropdown');
                navbar_user.addEventListener('click', (event) => {
                    event.preventDefault();
                    if (navbarProfileDropdown.style.display === 'block') {
                        navbarProfileDropdown.style.display = 'none';
                    } else {
                        navbarProfileDropdown.style.display = 'block';
                    }
                });
            {%endif%}

            // Mobile Navbar
            const mobileNavbar = document.getElementById('mobile_navbar');
            const mobileProfileDropdown = document.querySelector('.mobileProfileDropdown');

            mobileNavbar.addEventListener('click', (event) => {
                console.log('mobile_navbar clicked')
                event.preventDefault();
                if (mobileProfileDropdown.style.display === 'block') {
                    mobileProfileDropdown.style.display = 'none';
                } else {
                    mobileProfileDropdown.style.display = 'block';
                }
            });
    </script>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    {%block pagescript%}
    {%endblock%}
</body>
</html>