.assetsDashboard {
    background-color: #131212;
    border-radius: 15px;
    padding: 20px 0px;
}

.assetsDashboard .assets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.assetsDashboard .assets .asset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:15px;
}